body {
  font-family: 'Roboto', sans-serif;
}

.navbar-brand img {
  width: 40px;
}

.btn-login {
  border-radius: 15px;
  background-color: #24d6d6;
  color: #ffffff;
  width: 70px;
  font-size: 12px;
  font-weight: bold;
}

.btn-login:hover {
  background-color: #08e7e7;
  color: #ffffff;
  width: 70px;
  font-weight: bold;
  font-size: 12px;
}

.nav-link {
  margin-right: 5px;
}

.nav-link:hover {
  border-bottom: 3px solid #24d6d6;
}

header {
  min-height: 650px;
  padding: 200px 0px 165px;
  background-image: url("../images/Banner.png");
  background-size: cover;
}

header .banner-txt {
  color: #ffffff;
  font-size: 40px;
  margin-top: 40px;
  font-weight: bold;
}

.section-layanan {
  min-height: 1000px;
}

.section-layanan .logo-about {
  margin-top: 100px;
}

.section-layanan .text-layanan {
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  margin-top: 130px;
}

.section-layanan {
  min-height: 700px;
}

.section-layanan .text-request {
  text-align: center;
  margin-top: 30px;
  font-weight: normal;
  margin-bottom: 30px;
}

.section-layanan .card-request {
  margin-top: 20px;
  max-height: 300px;
}

p {
  font-size: 18px;
  color: #b1b1b1;
}

.input-person input {
  width: 50px;
  margin-left: 115px;
}

.price {
  margin-left: 150px;
}

.total-price h2 {
  font-size: 30px;
}

.card-login {
  margin-top: 80px;
}

.card-signin {
  margin-top: 130px;
  min-height: 350px;
  border: 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: #24d6d6;
}

.card-signin img {
  width: 50%;
}

.card-signin .form-signin ::-webkit-input-placeholder {
  font-size: 12px;
  color: #b3b3b3;
}

.card-signin .form-signin :-ms-input-placeholder {
  font-size: 12px;
  color: #b3b3b3;
}

.card-signin .form-signin ::-ms-input-placeholder {
  font-size: 12px;
  color: #b3b3b3;
}

.card-signin .form-signin ::placeholder {
  font-size: 12px;
  color: #b3b3b3;
}

.card-signin .form-signin .btn-register-login {
  margin-top: 20px;
  width: 200px;
  color: white;
  background-color: #24d6d6;
  font-size: 15px;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card-signin .form-label-group {
  justify-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.card-signin .form-label-group textarea:focus,
.card-signin .form-label-group textarea.form-control:focus,
.card-signin .form-label-group input.form-control:focus,
.card-signin .form-label-group input[type=text]:focus,
.card-signin .form-label-group input[type=password]:focus,
.card-signin .form-label-group input[type=email]:focus,
.card-signin .form-label-group input[type=number]:focus,
.card-signin .form-label-group [type=text].form-control:focus,
.card-signin .form-label-group [type=password].form-control:focus,
.card-signin .form-label-group [type=email].form-control:focus,
.card-signin .form-label-group [type=tel].form-control:focus,
.card-signin .form-label-group [contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -1px 0 #ddd;
          box-shadow: inset 0 -1px 0 #ddd;
}

.card-signin .form-label-group input {
  border: none;
  border-bottom: 1px solid #24d6d6;
  width: 300px;
}

a {
  color: #24d6d6;
}

a:hover {
  color: #08e7e7;
  text-decoration: none;
}

.card-register {
  margin-top: 30px;
}

.card-regist {
  margin-top: 100px;
  min-height: 350px;
  border: 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-regist .card-title {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: #24d6d6;
}

.card-regist img {
  width: 50%;
}

.card-regist .form-register ::-webkit-input-placeholder {
  font-size: 12px;
  color: #b3b3b3;
}

.card-regist .form-register :-ms-input-placeholder {
  font-size: 12px;
  color: #b3b3b3;
}

.card-regist .form-register ::-ms-input-placeholder {
  font-size: 12px;
  color: #b3b3b3;
}

.card-regist .form-register ::placeholder {
  font-size: 12px;
  color: #b3b3b3;
}

.card-regist .form-register .btn-register-login {
  margin-top: 20px;
  width: 200px;
  color: white;
  background-color: #24d6d6;
  font-size: 15px;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card-regist .form-label-group {
  justify-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.card-regist .form-label-group textarea:focus,
.card-regist .form-label-group textarea.form-control:focus,
.card-regist .form-label-group input.form-control:focus,
.card-regist .form-label-group input[type=text]:focus,
.card-regist .form-label-group input[type=password]:focus,
.card-regist .form-label-group input[type=email]:focus,
.card-regist .form-label-group input[type=number]:focus,
.card-regist .form-label-group [type=text].form-control:focus,
.card-regist .form-label-group [type=password].form-control:focus,
.card-regist .form-label-group [type=email].form-control:focus,
.card-regist .form-label-group [type=tel].form-control:focus,
.card-regist .form-label-group [contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -1px 0 #ddd;
          box-shadow: inset 0 -1px 0 #ddd;
}

.card-regist .form-label-group input {
  border: none;
  border-bottom: 1px solid #24d6d6;
  width: 300px;
}

.main-permintaan {
  min-height: 700px;
}

.card-permintaan {
  border-radius: 10px;
  margin-top: 130px;
}

.card-permintaan .card-title {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: #000000;
}

.card-permintaan .btn-permintaan {
  font-weight: bold;
  width: 150px;
  border-radius: 10px;
  color: white;
  background-color: #FFDA77;
}

.card-permintaan .form-signin ::-webkit-input-placeholder {
  font-size: 12px;
  color: #b3b3b3;
}

.card-permintaan .form-signin :-ms-input-placeholder {
  font-size: 12px;
  color: #b3b3b3;
}

.card-permintaan .form-signin ::-ms-input-placeholder {
  font-size: 12px;
  color: #b3b3b3;
}

.card-permintaan .form-signin ::placeholder {
  font-size: 12px;
  color: #b3b3b3;
}

.form-label-group {
  justify-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group textarea:focus,
.form-label-group textarea.form-control:focus,
.form-label-group input.form-control:focus,
.form-label-group input[type=text]:focus,
.form-label-group input[type=password]:focus,
.form-label-group input[type=email]:focus,
.form-label-group input[type=number]:focus,
.form-label-group [type=text].form-control:focus,
.form-label-group [type=password].form-control:focus,
.form-label-group [type=email].form-control:focus,
.form-label-group [type=tel].form-control:focus,
.form-label-group [contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -1px 0 #ddd;
          box-shadow: inset 0 -1px 0 #ddd;
}

.form-label-group input {
  border: none;
  border-bottom: 1px solid #24d6d6;
}

.btn-dropdown {
  width: 200px;
}

.borderless th {
  border: none;
}

.borderless td {
  border: none;
}

.btn-pemeriksaan {
  font-weight: bold;
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color: #FFDA77;
}

.btn-pemeriksaan:hover {
  font-weight: bold;
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color: #f5c74b;
}

.card-pemeriksaan {
  border-radius: 10px;
}

.main-pemeriksaan {
  min-height: 1000px;
}
/*# sourceMappingURL=main.css.map */